body {
    background: #E5E5E5;
}

.heading {
    font-family: Righteous;
    color: #FFFFFF;
    font-size: 44px;
}

.subheading {
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 18px;
}

.top {
    width: 100vw;
    height: 92px;
    background:#CF2B2B;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 8px 145px 40px 21px;
    box-shadow: 0px 3px 2px grey;
}

.container {
   margin-top: 92px;
   margin-bottom: 108px;
    width: 100vw;
    background: #E5E5E5;
    padding-left: 11px; 
 }

.orders {
    padding-top: 31px;
    display: flex;
    flex-direction: column; 
}

.orders-top {
    margin-left: 8px;
    font-size: 26px;
    font-family: Righteous;
    color: #333;
}

.orders-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.container .orders:last-child {
    margin-bottom: 16px;
}

li {
    width: 172px;
    height: 216px;
    padding: 18px 14px 111px 12px;
    margin: 17px 8px 0px 8px;
    border-radius: 9px;
    background: #FFFFFF;
    font-family: Roboto;
  }

li :first-child {
    margin-top: 4px;
    margin-bottom:4px;
}

li :last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.description {
    font-size: 14px;
}

.price, .dishes {
    font-size: 16px;
}
.check {
    font-size: 16px;
    color: #FFF;
}

.activeli {
    border: 3px solid #50D074;
    border-radius: 9px;
}

.check-activate {
    font-size: 16px;
    color:#50D074;
}

img {
    width: 144px;
    height: 87px;
    border-radius: 3px;
}

.bottom {
    background: #FFFFFF;
    width: 100vw;
    height: 92px;
    position: fixed;
    bottom:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: roboto;
    font-size: 20px;
    color: #FFF;
    width: calc(100vw - 12%);
    height: 61px;
    border-radius: 50px;
    border: none;
}

.select-item {
    background: #CBCBCB;
}

.end-order {
    background: #50D074;
}

.blank {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 3;
}

.confirmation {
    margin: 32.75vh 4.5vw;
    background: #50D074;
    color: #FFFFFF;
    font-size: 22px;
    width: 91vw;
    height: 45vh;
    position: fixed;
    z-index: 5;
    border-radius: 9px;
    font-family: Roboto;
}

.confirmation > div, .confirm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin: 13px 22px 13px 22px;
}

.confirmation :first-child, .confirmation :last-child {
    justify-content: center;
}

.confirm{
    background: #FFFFFF;
    color: #50D074;
    width: 80.4vw;
    height: 5vh;

}

.hide {
    display: none;
}

.unhide { 
    display: block;
}

 /*-------HIDE SCROLLBAR--------*/
.food::-webkit-scrollbar, .beverage::-webkit-scrollbar, .dessert::-webkit-scrollbar {
    display: none;
}

